# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/lib

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea

# stryker temp files
.stryker-tmp
reports
coverage-ts/index.html
coverage-ts/typescript-coverage.json
coverage-ts/assets/source-file.css
coverage-ts/assets/source-file.js
coverage-ts/files/src/index.ts.html
coverage-ts/files/src/Domain/Chord.ts.html
coverage-ts/files/src/Domain/Duration.ts.html
coverage-ts/files/src/Domain/Guitar.ts.html
coverage-ts/files/src/Domain/Interval.ts.html
coverage-ts/files/src/Domain/Key.ts.html
coverage-ts/files/src/Domain/Note.ts.html
coverage-ts/files/src/Domain/Pitch.ts.html
coverage-ts/files/src/Domain/Scale.ts.html
